# WordPressのコアファイルを無視
/wordpress/wp-admin/
/wordpress/wp-includes/
/wordpress/wp-config.php

# テーマはすべて無視。
/wordpress/wp-content/themes/*
!/wordpress/wp-content/themes/sample-housing/


# 一般的な不要ファイルを無視
.DS_Store
Thumbs.db
*.log
*.sql
*.tar.gz
*.zip

# Composerやnpmを使っている場合、vendorやnode_modulesを無視
/vendor/
/node_modules/

#htmlディレクトリを管理から外す
/html/

#assetsディレクトリを管理から外す
/assets/