header {
    position: fixed;
    z-index: 999999;
    background-color: #fff;
    width: 100%;
}


.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px 20px 0px;
    
    @include mq(md){
        padding-top: 10px;
        padding-right: 12px;
    }
}

.header-left {
    display: flex;
    @include mq(md){
        width: 100%;
    }
    &-logo{
        z-index: 10000;
        width: 90px;
        @include mq(md){
            width: 47%;
        }
    }
    &-contact {
        position: relative;
        margin-left: 48px;

        @include mq(xxl) {
            margin-left: 3.3vw;
        }

        @include mq(md) {
            display: none;
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 10%;
            bottom: 10%;
            width: 1px;
            background-color: $border-gray;
        }

        &::before {
            left: -25px;
        }

        &::after {
            right: 0;
        }

        &__top-wrap {
            display: flex;
            align-items: center;

            @include mq(xl) {
                flex-direction: column;
                align-items: flex-start;
            }

            @include mq(lg) {
                flex-direction: initial;
                align-items: center;
            }

        }

        &__tel {
            position: relative;
            font-family: $font-family-Open-sans;
            font-size: 2.4rem;
            font-weight: 600;
            color: $primary;
            padding-left: 22px;
            margin-right: 9px;
        }

        &__tel::before {
            content: "";
            position: absolute;
            background-image: url("../img/icon-phone.svg");
            width: 17px;
            height: 22px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }

        &__fax {
            font-family: $font-family-Open-sans;
            font-weight: 600;
            font-size: 1.6rem;

            span {
                font-size: 1.2rem;
            }
        }

        &__txt {
            font-size: 1.2rem;
            padding: 0 24px;

            @include mq(xl) {
                padding-left: 0;
                // padding-right: 14px;
            }
        }

        .header-menu-br {
            @media screen and (min-width: 1139px) {
                display: none;
            }

            @include mq(lg) {
                display: none;
            }
        }
    }
}


.header-nav-button {
    position: relative;
    width: 50px;
    min-width: 50px;
    height: 14px;
    border-radius: 5px;
    max-width: 966px;
    display: none;
    cursor: pointer;
    z-index: 10000;
    @include mq(lg) {
        display: block;
    }

    span {
        position: absolute;
        left: calc(50% - 13px);
        display: inline-block;
        width: 30px;
        height: 1px;
        background: #222;
        transition: all 0.3s;
    }

     span:nth-of-type(1) {
        top: 12px;
    }
    span:nth-of-type(2) {
        top: calc(50% - 4px);
        width: 20px;
    }
    span:nth-of-type(3) {
        bottom: 21px;
    }
}

.g-nav {
    @include mq(lg) {
        position: fixed;
        // width: 100vw;
        width: 100%;
        height: 100dvh;
        top: 0;
        left: 0;
        background: #fff;
        transform: translateY(-100%);
        transition: transform .3s ease-out;
        z-index: 9999;
    }

    &-item {
        display: flex;
        align-items: center;

        &__list {
            font-size: 1.6rem;
            font-weight: 500;
            margin-right: 32px;

            @include mq(xxl) {
                margin-right: 2.2vw;
            }

            @include mq(pc) {
                margin-right: 2vw;
            }
        }

        &__list:last-of-type {
            margin-right: 0;
        }
        &__link{
            position: relative;
        }

        &__privacy{
            display: none;
        }
    }

    .sp-menu{
        display: none;
    }
}


// ハンバーガーメニュー開いた時
.is-open{
    .header-nav-button{
        span:nth-of-type(1) {
            transform: rotate(-45deg);
            top: 0;

        }
        span:nth-of-type(2) {
            display: none;
        }
        span:nth-of-type(3) {
            top: 0;
            transform: rotate(45deg);
        }
    }

    .g-nav {
        @include mq(lg){
            transform: rotateY(0);
            overflow: auto;
        }

        &-inner{
            padding: 100px 60px 48px;
        }
        &-item{
            flex-direction: column;
            border-bottom: 1px solid $border-light;
            padding-bottom: 22px;
            position: relative;
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                width: 100vw;
                height: 1px;
                background-color: #F0F0F0;
                transform: translateX(-50%);
            }
            &__list{
                margin-right: 0;
                width: 100%;
                border-bottom: 1px solid $border-list;
                padding-top: 22px;
                padding-bottom: 25px;
            }
            &__list:first-of-type{
                padding-top: 0;
            }

            &__link{
                width: 100%;
                display: inline-block;

            }
            &__link::after{
                position: absolute;
                content: "";
                background-image: url("../img/arrow-right-m.svg");
                background-repeat: no-repeat;
                top: 75%;
                right: 0;
                transform: translateY(-50%);
                width: 20px;
                height: 18px;
            }


            &__privacy{
                border-bottom: none;
                display: block;
                padding-top: 29px;
                .g-nav-item__link{
                    font-size: 1.4rem;
                    color: $gray;
                }
                .g-nav-item__link::after{
                    content: none;
                }
            }
    
            &__contact{
                display: none;
            }
            // .sp-menu{
            //     display: block;
            // }

        }

        .sp-menu{
            display: block;
            margin-top: 46px;
            &-logo{
                width: 183px;
            }

            &-address{
                font-size: 1.4rem;
                line-height: 1.42;
                margin-top: 14px;
            }

            &-tel{
                background: $primary;
                position: relative;
                margin-top: 31px;

                a{
                    font-size: 2.4rem;
                    font-weight: 600;
                    padding: 24px 0;
                    color: #fff;
                    font-family: $font-family-Open-sans;
                    width: 100%;
                    display: inline-block;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        margin-right: 8px;
                    }
                   
                }
            }

            
            &-time{
                margin-top: 7px;
                font-size: 1.4rem;
                text-align: left;
                margin: 6px auto 0;
                width: fit-content;
                &__txt{
                    font-size: 1.1rem;
                }
                &__fax{
                font-size: 1.6rem;
                font-weight: 600;
                margin-top: 4px;
                span{
                    font-size: 1.2rem;
                }
                }
            }



            .btn-wrap{
                margin-top: 22px;
                .g-nav-item__link{
                    border-radius: 0;
                    padding: 27px 0;
                    font-size: 1.8rem;
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        width: 24px;
                    }
                }
                .g-nav-item__link::after{
                    content: none;
                }
            }
        }

    }
}