// ------------------------------------------------------
// 個人情報保護方針
// ------------------------------------------------------
.privacy {
  .privacy-contents {
    color: $black2;
    margin-top: 121px;
    padding: 0 20px;

    @include mq(md) {
      margin-top: 47px;
    }

    .contents-inner {
      max-width: 1140px;
      width: 100%;
      margin: 0 auto;
    }
  }

  .privacy-lead {
    font-size: 1.6rem;

    @include mq(md) {
      font-size: 1.4rem;
    }
  }

  .privacy-list {
    margin-top: 56px;

    &__item {
      margin-top: 43px;

      &:first-of-type {
        margin-top: 0;
      }

      @include mq(md) {
        margin-top: 23px;
      }
    }

    &__ttl {
      font-size: 1.8rem;
      font-weight: bold;
      position: relative;
      padding-left: 1em;

      @include mq(md) {
        font-size: 1.6rem;
      }

      &::before {
        position: absolute;
        content: "";
        width: 8px;
        height: 8px;
        border-radius: 100%;
        top: 39%;
        left: 0;
        transform: rotateY(-50%);
        background: $primary;
      }
    }

    &__txt {
      margin-top: 14px;
      font-size: 1.6rem;
      line-height: 2;

      @include mq(md) {
        font-size: 1.4rem;
      }
    }

    .privacy-list-sub {
      font-size: 1.6rem;
      line-height: 2;

      @include mq(md) {
        font-size: 1.4rem;
      }

      &__item {
        position: relative;
        padding-left: 1em;

        &::before {
          position: absolute;
          content: "";
          top: 50%;
          left: 7px;
          width: 2px;
          height: 2px;
          background: $black2;
        }
      }
    }
  }

  .privacy-contact {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 1.6rem;
    line-height: 1.5;
    background: #fafaf8;
    padding: 25px 30px;
    width: 691px;
    margin-top: 37px;
    box-sizing: border-box;

    @include mq(md) {
      flex-direction: column;
      width: 100%;
      align-items: initial;
      padding: 20px;
      font-size: 1.4rem;
    }

    &__ttl {
      font-weight: 600;
      color: $primary;
      line-height: 2;
    }

    &__line {
      width: 30px;
      height: 1px;
      background: $primary;
      display: block;
      margin-top: 12px;
    }

    &__add {
      margin-top: 32px;
    }

    &__tel {
      margin-top: 9px;
      color: $primary;
      font-weight: bold;
    }

    &__time {
      font-size: 1.2rem;
    }

    &__fax {
      margin-top: 7px;
      font-weight: bold;
    }

    .btn-wrap {
      .contact-btn__link {
        border-radius: 0;
        padding: 23.5px 0;
        width: 244px;

        @include mq(md) {
          margin: 15px auto 0;
        }
      }
    }
  }

  .company {
    margin-top: 149px;

    @include mq(md) {
      margin-top: 60px;
    }
  }
}

// ------------------------------------------------------
// お問い合わせ
// ------------------------------------------------------
.contact-page {
  .intro {
    margin-top: 120px;
    padding: 0 20px;
    @include mq(md) {
      margin-top: 47px;
    }
    .contents-inner {
      display: flex;
      justify-content: space-between;
      background: $bg-color;
      width: 860px;
      margin: 0 auto 10px;
      padding: 53px 93px;
      box-sizing: border-box;

      @include mq(md) {
        width: 100%;
        flex-direction: column;
        padding: 30px 20px;
      }
    }

    .intro-left {
      width: calc(100% - 514px);

      @include mq(md) {
        width: 100%;
      }

      &__txt {
        color: $black2;
        font-size: 3.3rem;
        font-weight: 600;
        position: relative;
        padding-left: 40px;
        padding-top: 8px;

        @include mq(md) {
          font-size: 2.6rem;
        }

        &::before {
          position: absolute;
          content: "";
          background-image: url("../img/icon-phone-l.svg");
          background-repeat: no-repeat;
          width: 23px;
          height: 30px;
          left: 0;
          top: 56%;
          transform: translateY(-50%);
        }
      }
    }

    .intro-right {
      @include mq(md) {
        width: 100%;
      }

      &__top {
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        @include mq(md) {
          display: block;
        }
      }

      &__tel {
        font-size: 2.8rem;
        font-weight: bold;
        color: $primary;
        margin-right: 16px;

        @include mq(md) {
          font-size: 1.8rem;
        }
      }

      &__fax {
        font-size: 1.8rem;
        font-weight: bold;
        color: $black2;

        @include mq(md) {
          font-size: 1.6rem;
        }
      }

      &__time {
        margin-top: 6px;
        font-size: 1.4rem;
        color: $black;

        @include mq(md) {
          font-size: 1.2rem;
        }
      }
    }
  }

  .contact-form {
    margin-top: 122px;
    padding: 0 20px;

    .contents-inner {
      width: 860px;
      margin: 0 auto;

      @include mq(md) {
        width: 100%;
      }
    }

    .contact-ttl {
      font-size: 3.3rem;
      font-weight: 600;
      color: $black2;
      position: relative;
      padding-left: 1.5em;
      margin-bottom: 54px;

      @include mq(md) {
        font-size: 2.6rem;
      }

      &::before {
        position: absolute;
        content: "";
        background-image: url("../img/icon-mail-l.svg");
        width: 35px;
        height: 26px;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
    }

    .form-btn {
      margin: 61px auto 0;
      display: block;
      width: 100%;

      a {
        color: #fff;
        font-size: 1.6rem;
        font-weight: 600;
        background: $primary;
        max-width: 221px;
        width: 100%;
        display: inline-block;
        padding: 24px 0;
        position: relative;
        transition: 0.3s all ease-in;
        box-sizing: border-box;

        @include mq(md) {
          font-size: 1.5rem;
        }

        &::after {
          position: absolute;
          content: "";
          right: 16px;
          top: 50%;
          transform: translateY(-50%);
          background-image: url("../img/arrow-right.svg");
          filter: invert(1) brightness(6);
          width: 11px;
          height: 7px;
        }

        &:hover {
          background: none;
          border: 1px solid $primary;
          color: $primary;

          &::after {
            filter: none;
          }
        }
      }
    }
  }

  .company {
    margin-top: 142px;
    @include mq(md) {
      margin-top: 60px;
    }
  }
}

// ------------------------------------------------------
// お知らせ + お知らせ記事ページ
// ------------------------------------------------------
.news-article {
  .news-contents {
    margin-top: 121px;
    @include mq(md) {
      margin-top: 47px;
    }
    .contents-inner {
      display: flex;
      justify-content: space-between;
      max-width: 1140px;
      width: 100%;
      margin: 0 auto;
      padding: 0 20px;
      @include mq(md) {
        flex-direction: column;
      }
    }

    .sidebar {
      margin-left: -19px;
      width: calc(100% - 940px);
      @include mq(md) {
        width: 100%;
        order: 2;
        margin-top: 60px;
      }
      .year-list {
        width: 100%;
        position: relative;
        padding-left: 20px;

        &__item {
          border-bottom: 1px solid $border-list;
          padding-bottom: 17px;
          margin-top: 15px;
        }

        &__item:first-of-type {
          margin-top: 0;
        }
      }

      .year-toggle {
        font-size: 1.4rem;
        font-weight: 500;
        position: relative;

        cursor: pointer;

        &::before {
          position: absolute;
          content: "";
          top: 4px;
          left: -15px;
          width: 6px;
          height: 6px;
          border-top: 1px solid $primary;
          border-left: 1px solid $primary;
          transform: rotate(135deg);
          transition: 0.3s all ease-in;
        }
      }

      .year-toggle.open::before {
        transform: rotate(225deg);
      }

      .year-list {
        &__item {
          padding-left: 1.5em;
        }
      }

      .month-list {
        margin-top: 9px;
        display: none;
        padding-bottom: 10px;

        &__item {
          font-size: 1.3rem;
          margin-top: 8px;
        }

        &__item:first-of-type {
          margin-top: 0;
        }
      }
    }

    .news-all-articles,
    .article-contents {
      width: calc(100% - 240px);
      @include mq(md) {
        width: 100%;
        order: 1;
      }
      .news-list__item {
        a::before {
          right: 15px;
          @include mq(md) {
            right: -20px;
            top: 50%;
            transform: translateY(-50%);
          }
        }

        a:hover {
          &::before {
            right: -20px;
          }
        }
      }
    }

    // 記事ページ
    .article-head {
      &__date {
        font-size: 1.3rem;
        color: $secondary;
      }

      &__ttl {
        font-size: 3.3rem;
        font-weight: 600;
        margin-top: 24px;
        @include mq(md) {
          font-size: 2.6rem;
        }
      }
    }

    .article-body {
      border-bottom: 1px solid $border-list;
      padding-bottom: 42px;

      p {
        font-size: 1.6rem;
        line-height: 2;
        color: $black;
        margin-top: 67px;
        @include mq(md) {
          font-size: 1.4rem;
          margin-top: 33px;
        }
      }

      h3 {
        font-size: 3.2rem;
        font-weight: 600;
        color: $primary;
        position: relative;
        padding-bottom: 21px;
        margin-bottom: 21px;
        @include mq(md) {
          font-size: 2.6rem;
        }
        &::before {
          position: absolute;
          content: "";
          width: 30px;
          height: 5px;
          background: $primary;
          left: 0;
          bottom: 0;
        }

        &::after {
          position: absolute;
          content: "";
          width: 30px;
          height: 5px;
          background: $secondary;
          left: 30px;
          bottom: 0;
        }
      }

      h4 {
        font-size: 2.4rem;
        font-weight: 600;
        line-height: 1.33;
        position: relative;
        padding-left: 1em;
        border-bottom: 1px solid $border-list;
        padding-bottom: 13px;
        margin-bottom: 31px;
        @include mq(md) {
          font-size: 2rem;
        }
        &::before {
          position: absolute;
          content: "";
          left: 0;
          top: 38%;
          transform: translateY(-50%);
          width: 15px;
          height: 5px;
          background: $primary;
        }
      }

      h5 {
        font-size: 2rem;
        font-weight: bold;
        position: relative;
        padding-left: 1em;
        margin-bottom: 28px;
        @include mq(md) {
          font-size: 1.8rem;
        }
        &::before {
          position: absolute;
          content: "";
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 10px;
          height: 10px;
          border-radius: 100%;
          background: $primary;
        }
      }

      h6 {
        font-size: 1.8rem;
        font-weight: bold;
        color: $primary;
        @include mq(md) {
          font-size: 1.6rem;
        }
      }
    }

    .article-foot {
      font-size: 1.8rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 56px;
      padding: 0 23px;
      max-width: 860px;
      @include mq(md) {
        font-size: 1.4rem;
      }
      &__prev,
      &__next {
        font-weight: 600;
        color: $black2;
        position: relative;
        &::before {
          position: absolute;
          content: "";
          top: 50%;
          width: 11px;
          height: 11px;
          border-top: 1px solid $primary;
          border-left: 1px solid $primary;
        }
      }

      &__prev {
        &::before {
          transform: rotate(-45deg) translateY(-50%);
          left: -15px;
        }
      }

      &__all {
        font-weight: bold;
        color: $primary;
        margin: 0 auto;
      }
      &__next {
        &::before {
          transform: rotate(135deg) translateY(-50%);
          right: -18px;
          top: 14%;
        }
      }
    }
  }

  .pagenavi {
    display: flex;
    justify-content: space-between;
    margin: 55px auto 0;
    max-width: 215px;
    align-items: center;

    .page {
      font-size: 1.8rem;
      font-weight: 600;
      color: $black2;
      width: 32px;
      height: 32px;
      border: 1px solid $black2;
      text-align: center;
      cursor: pointer;
      transition: 0.3s all ease-in;

      &:hover {
        background: $primary;
        border: 1px solid $primary;
        color: #fff;
        opacity: 1;
      }
    }

    .prev,
    .next {
      position: relative;

      &:before {
        position: absolute;
        content: "";
        top: -5px;
        width: 11px;
        height: 11px;
        border-top: 1px solid #106bb8;
        border-left: 1px solid #106bb8;
        transition: 0.3s all ease-in;
      }
    }

    .prev:before {
      left: -32px;
      transform: rotate(-45deg);
    }

    .next:before {
      right: -32px;
      transform: rotate(135deg);
    }

    .current {
      background: $primary;
      border: 1px solid $primary;
      color: #fff;
    }
  }
}

.news-article .pagenavi {
  display: flex;
  justify-content: space-between;
  margin: 55px auto 0;
  max-width: 215px;
  align-items: center;
}
.news-article .pagenavi .page {
  font-size: 1.8rem;
  font-weight: 600;
  color: #222;
  width: 32px;
  height: 32px;
  border: 1px solid #222;
  text-align: center;
  cursor: pointer;
  transition: 0.3s all ease-in;
}
.news-article .pagenavi .page:hover {
  background: #106bb8;
  border: 1px solid #106bb8;
  color: #fff;
  opacity: 1;
}
.news-article .pagenavi .prev,
.news-article .pagenavi .next {
  position: relative;
}
.news-article .pagenavi .prev:before,
.news-article .pagenavi .next:before {
  position: absolute;
  content: "";
  top: -5px;
  width: 11px;
  height: 11px;
  border-top: 1px solid #106bb8;
  border-left: 1px solid #106bb8;
  transition: 0.3s all ease-in;
}
.news-article .pagenavi .prev:before {
  left: -32px;
  transform: rotate(-45deg);
}
.news-article .pagenavi .next:before {
  right: -32px;
  transform: rotate(135deg);
}
.news-article .pagenavi .current {
  background: #106bb8;
  border: 1px solid #106bb8;
  color: #fff;
}

.wp-pagenavi {
  display: flex;
  justify-content: space-between;
  width: 100%;
  -moz-column-gap: 10px;
  column-gap: 10px;
  font-size: 10px;
  position: relative;
}

.wp-pagenavi a,
.wp-pagenavi span {
  text-decoration: none;
  border: none;
  padding: 0;
  margin: 0;
}

.previouspostslink,
.nextpostslink {
  position: relative;
}

.previouspostslink::before,
.nextpostslink::before {
  position: absolute;
  content: "";
  top: 50%;
  width: 11px;
  height: 11px;
  border-top: 1px solid #106bb8;
  border-left: 1px solid #106bb8;
  transition: 0.3s all ease-in;
}

.previouspostslink::before {
  left: -32px;
  transform: translateY(-50%) rotate(-45deg);
  -webkit-transform: translateY(-50%) rotate(-45deg);
}

.nextpostslink::before {
  right: -32px;
  /* 複数の transform をまとめる */
  transform: translateY(-50%) rotate(135deg);
  -webkit-transform: translateY(-50%) rotate(135deg);
}

.wp-pagenavi .pages {
  display: none;
}

.wp-pagenavi span,
.wp-pagenavi .page {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 600;
  color: #222;
  width: 32px;
  height: 32px;
  border: 1px solid #222;
  text-align: center;
  cursor: pointer;
  transition: 0.3s all ease-in;
}

// ------------------------------------------------------
// お問い合わせ
// ------------------------------------------------------
.form-wrap {
  margin: 0 auto;
  max-width: 920px;
  padding: 0 20px;
  h3{
    margin: 20px;
    font-size: 2rem;
    @include mq(md){
      font-size: 1.6rem;
    }
  }
  form {
    .contact-form {
      dl {
        display: flex;
        flex-wrap: wrap;
        @include mq(md) {
          flex-direction: column;
          align-items: flex-start;
        }
        dt {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          position: relative;
          flex: 0 0 32%;
          max-width: 32%;
          padding: 1em 0;
          padding-right: 40px;
          font-size: 1.4rem;
          @include mq(md) {
            max-width: none;
            width: auto;
            padding-right: 0;
            font-size: 1.2rem;
          }
        }
        dd {
          flex: 0 0 68%;
          max-width: 68%;
          padding: 1em 0;
          font-size: 1.4rem;
          @include mq(md) {
            max-width: 100%;
            width: 100%;
            flex: auto;
            font-size: 1.2rem;
          }
          input,
          textarea {
            border: 1px solid #707070;
            @include mq(md) {
              width: 100%;
              flex: initial;
              max-width: none;
            }
          }
        }
        .tel-field {
          input {
            width: 20%;

            @include mq(md) {
              width: 30%;
            }
          }
        }
        .select-radio {
          input {
            width: auto;
          }
        }
      }

      .require {
        dt::after {
          content: "必須";
          display: inline-block;
          padding: 0 0.5em;
          color: #fff;
          font-size: 1.2rem;
          line-height: 1.75;
          background: $primary;
          border-radius: 3px;
          @include mq(md) {
            margin-left: 10px;
            font-size: 1rem;
          }
        }
      }
    }

    input,
    button,
    textarea,
    select {
      appearance: auto;
    }
    input {
      padding: 0.2em;
      @include mq(md) {
        width: 100%;
      }
    }

    select {
      font-size: 1.2rem;
      @include mq(md) {
        font-size: 1rem;
      }
    }
    .contact-form-foot {
      .privacy-check {
        text-align: center;
        span {
          font-weight: 700;
          margin-bottom: 12px;
          display: inline-block;
        }
        &_txt {
          margin: 20px 0;
          p:last-of-type {
            @include mq(md) {
              text-align: left;
            }
          }
        }
        label {
          input {
            width: fit-content;
          }
        }
      }
      .btn-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

      .btn-wrap {
        margin-top: 20px;
      }
      .btn {
        width: 100%;
        max-width: 280px;
        margin: 0 10px;
        padding: 0.5em;
        letter-spacing: 0.5em;
        transition: all 0.3s;
        color: #fff;
        cursor: pointer;
      }
      .btn:hover {
        opacity: 0.8;
      }
      .btn-submit {
        background: $primary;
        border: 1px solid $primary;
      }
    }
  }
  .error-message {
    color: $error-message;
    font-size: 1rem;
  }
  
  .tel-field-wrap{
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    gap: 20px;
  }
  .send-wrap{
    form{
      width: 48%;
      @include mq(md){
        width: 30%;
      }
    }
    display: flex;
    justify-content: center;
    max-width: 420px;
    margin: 20px auto;
    gap: 20px;
    .btn-submit{
      width: 100%;
      max-width: 280px;
      margin: 0 10px;
      padding: 0.5em;
      letter-spacing: 0.5em;
      transition: all 0.3s;
      color: $primary;
      cursor: pointer;
      background: #fff;
      border: 1px solid $primary;
    }
    .btn-submit:hover{
      color: #fff;
      background: $primary;
      border: $primary;
    }

  }
  .form-status{
    font-size: 1.8rem;
    font-weight: 700;
    margin: 20px auto;
    text-align: center;
    @include mq(md){
      font-size: 1.6rem;
    }
  }
  .form_error{
    color: $error-message;
    font-size: 2.0rem;
    font-weight: 700;
    margin: 100px 0;
    text-align: center;
  }
}

