//--------------------------------------
// mv
//--------------------------------------
.mv {
    &__inner {
        display: flex;
        justify-content: space-between;
        position: relative;

        @include mq(md) {
            flex-direction: column;
        }
    }


    .mv-img-wrap {
        // max-width: 972px;
        width: 100%;
        // flex-shrink: 0;

        .mv-img {
            background-image: url("../img/mv.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 100%;
            height: 662px;

            // z-index: -100;
            @include mq (md) {
                background-size: contain;
                background-position: left top;
                height: 68.2vw;
            }
        }

        .mv-notice {
            margin-top: 8px;
            margin-left: 82px;
            width: fit-content;
            font-size: 1.2rem;
            color: $gray;

            @include mq(md) {
                margin-left: auto;
                margin-right: 15px;
                font-size: 1.0rem;
            }
        }
    }

    .mv-contents-wrap {
        padding-right: 5.6vw;

        @include mq(md) {
            padding-right: 0;
        }
    }


    .mv-notice {
        font-size: 1.4rem;
        color: $gray;
    }

    .mv-txt {
        width: 324px;
        margin-left: 64px;
        margin-top: 56px;

        @include mq(md) {
            width: 100%;
            margin-left: 0;
            margin-top: 10px;
            padding: 0 20px;
            box-sizing: border-box;
        }

        &__ttl {
            font-size: 4.6rem;
            font-weight: 400;

            @include mq(md) {
                font-size: 3.3rem;

            }
        }

        &__lead {
            font-size: 1.4rem;
            line-height: 1.85;
            margin-top: 38px;

            @include mq(md) {
                margin-top: 30px;
            }
        }
    }

    .slide-wrap {
        bottom: -42px;
        right: 0;
        width: 46%;
        position: absolute;
        z-index: 100;
        background: #fff;
        padding: 40px 0 40px 40px;

        @include mq (md) {
            position: relative;
            width: 100%;
            padding: 0;
            margin-top: -9px;
        }

        .mv-notice {
            font-size: 1.2rem;
            margin-top: 10px;
            margin-left: -4px;
            @include mq(md){
                padding-left: 20px;
                font-size: 1.0rem;
            }
        }
    }

    .slick01 {
        width: 100%;
    }

    .slick-slide {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .slick-slide img {
        // width: 240px;
        display: block;
        margin: 0 auto;
        @include mq(md){
            width: 100%;
        }
    }

    .slide-item__list {
        padding: 0 4px;
        box-sizing: border-box; 
        // max-width: 283px;
        // width: 248px !important;
        @include mq(md) {
            padding: 0 2.5px;
        }
    }


}


//--------------------------------------
// greetig
//--------------------------------------
.greetig {
    margin-top: 140px;
    position: relative;
    padding-top: 50px;
    @include mq (md) {
        margin-top: 233px;
    }


    &::before {
        position: absolute;
        content: "";
        background-image: url("../img/greeting-bg.jpg");
        background-repeat: no-repeat;
        width: 84.7%;
        height: 370px;
        z-index: -100;
        top: 10px;

        @include mq (md) {
            width: 95%;
            height: 439px;
            top: -50px;
        }
    }


    .section-ttl-wrap {
        background: $primary;
        width: 329px;
        padding: 73px 0;
        display: flex;
        justify-content: center;
        margin-top: -116px;
        margin-left: -290px;
        position: relative;

        @include mq (md) {
            position: absolute;
            left: 0;
            top: -11px;
            width: 216px;
            height: auto;
            padding: 44px 0px;
            margin-left: 0;
        }

    }

    .greetig-inner{
        overflow-x: hidden;
        margin-top: -84px;
    }
    .contents-inner {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 80px;

        @include mq (md) {
            padding: 0 20px 0 20px;
            flex-direction: column;
        }
    }

    .section-ttl {
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: #fff;
        margin-top: 19px;
        @include mq (md){
            margin-top: 1px;
        }
        span {
            display: block;
            margin-bottom: 13px;
            margin-left: 9px;

            @include mq (md) {
                margin-bottom: 8px;
            }
        }

        span::before {
            background-color: #fff;
        }
    }

    .greetig-txt-wrap {
        width: 616px;
        margin-left: 88px;
        margin-top: 120px;

        @include mq (md) {
            width: 100%;
            max-width: 580px;
            margin-left: 0;
            margin-top: 101px;
            padding-right: 20px;
        }
    }

    &-txt {
        font-size: 1.6rem;
        line-height: 2;

        @include mq (md) {
            font-size: 1.4rem;
            line-height: 2.14;
        }
    }

    &-signature {
        font-size: 1.6rem;
        font-weight: 500;
        margin-top: 29px;
        width: fit-content;
        margin-left: auto;

        @include mq (md) {
            font-size: 1.4rem;
            margin-top: 16px;
        }
    }

   .greeting-loop{
        margin-top: 25px;
        animation: infinity-scroll-left 20s infinite linear;
        white-space: nowrap;
        @include mq(md){
           margin-top: 10px;
           width: 240%;
        }
        img{
            @include mq(md){
                height: 153px;
            }
        }
    }
}
// .sliding-bg {
//     position: absolute;
//     content: "";
//     background-image: url("../img/greeting-bg-txt.png");
//     background-repeat: repeat-x;
//     width: 200%; /* 画像を繰り返し配置 */
//     height: 190px; /* 高さの設定 */
//     bottom: -125px;
//     background-size: 50% 100%; /* 背景サイズの設定 */
//     animation: infinity-scroll-left 5s infinite linear;
//     left: 0; /* スライド開始位置を調整 */
//     z-index: -1; /* 背景として扱うためにz-indexを設定 */
    
//     @include mq (md) {
//         background-image: url("../img/greeting-bg-txt-sp.png");
//         bottom: -150px;
//     }
// }
//--------------------------------------
// business
//--------------------------------------
.business {
    margin-top: 74px;
    // margin-top: 68px;
    @include mq(md) {
        padding: 0 20px;
        margin-top: 59px;
    }

    .contents-inner {
        display: flex;

        @include mq(md) {
            flex-direction: column;
        }
    }

    .business-img-wrap {
        margin-right: 5.4vw;
        width: 45%;

        @include mq(md) {
            width: 100%;
            margin-right: 0;
            margin-left: -20px;
        }
    }

    .business-img-notice {
        margin-top: 18px;
        margin-left: 31px;
        font-size: 1.2rem;
        color: $gray;

        @include mq(md) {
            margin-top: 8px;
            margin-left: 20px;
            font-size: 1.1rem;
        }
    }

    .business-img {
        position: relative;
        top: 0;
        left: 0;
        background-image: url("../img/business-01.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top left;
        height: 436px;
        width: 100%;

        @include mq (md) {
            background-size: contain;
            width: 97%;
            height: 58.7vw;
        }
    }

    .business-img-sub {
        margin-top: 63px;
        width: 306px;
        margin-left: 220px;
        position: relative;

        @include mq (md) {
            margin-top: 25px;
            width: 51.1vw;
            margin-left: 171px;
            position: relative;
        }

        &::before {
            content: '';
            position: absolute;
            top: -154px;
            left: -140px;
            width: 230px;
            height: 293px;
            background: $bg-color;
            z-index: -10;

            @include mq (md) {
                left: -132px;
                top: -192px;
                width: 196px;
            }
        }

        &::after {
            content: '';
            position: absolute;
            bottom: -77px;
            right: -103px;
            width: 175px;
            height: 132px;
            background: $bg-color;
            z-index: -10;

            @include mq (md) {
                right: -10px;
                bottom: -68px;
                width: 110px;
            }
        }
    }



    .business-contents-wrap {
        width: 543px;

        @include mq(md) {
            width: 100%;
            margin-top: 25px;
        }

        .section-ttl {
            span {
                color: $primary;
                margin-bottom: 19px;

                @include mq(md) {
                    margin-bottom: 13px;
                }
            }
        }

        .business-list {
            margin-top: 80px;

            @include mq(md) {
                margin-top: 32px;
            }

            &__item {
                border-bottom: 1px solid $border-list;
                padding-bottom: 28px;
                margin-top: 32px;

                @include mq(md) {
                    padding-bottom: 26px;
                }

                &:first-of-type {
                    margin-top: 0;
                }

                .list-ttl {
                    span {
                        font-size: 1.6rem;
                        font-weight: bold;
                        color: $primary;
                        margin-right: 16px;

                        @include mq (md) {
                            font-size: 1.4rem;
                        }
                    }

                    font-size: 1.7rem;
                    font-weight: bold;

                    @include mq (md) {
                        font-size: 1.5rem;
                    }
                }

                .list-txt {
                    font-size: 1.6rem;
                    margin-top: 8px;
                    padding-left: 34px;
                    line-height: 1.75;

                    @include mq(md) {
                        font-size: 1.4rem;
                        line-height: 2;
                        margin-top: 5px;
                    }
                }
            }
        }
    }
}


//--------------------------------------
// case
//--------------------------------------
.case {
    position: relative;
    margin-top: 192px;

    @include mq(md) {
        padding: 0 20px;
        margin-top: 131px;
    }

    &::before {
        position: absolute;
        content: "";
        background-image: url("../img/case-bg.jpg");
        background-repeat: no-repeat;
        width: 76.4%;
        height: 650px;
        top: -77px;
        right: 0;
        z-index: -100;

        @include mq(md) {
            right: 0px;
            top: -41px;
            width: 71%;
            height: 130%;
        }
    }

    .contents-inner {
        max-width: 1240px;
        width: 100%;
        margin: 0 auto;

    }

    .section-ttl {
        margin-bottom: 50px;
        @include mq(md){
            margin-bottom: 31px;
        }
        span {
            margin-bottom: 15px;
            // margin-left: 15px;
        &::before {
            @include mq(md){
                left: 6px;
            }
        }
        }


    }

    .case-list {
        display: flex;
        justify-content: flex-start;

        @include mq(md) {
            flex-wrap: wrap;
            row-gap: 24px;
            justify-content: space-between;
        }

        &-item {
            width: calc((100% - 90px) / 4);
            margin-right: 30px;

            @include mq(md) {
                width: calc((100% - 10px) /2);
                margin-right: 0;
            }
            img{
                @include mq(md){
                    width: 100%;
                }
            }

            &__ttl {
                margin-top: 16px;
                font-size: 1.6rem;
                font-weight: bold;

                @include mq(md) {
                    font-size: 1.4rem;
                    margin-top: 7px;
                }
            }

            &__txt {
                font-size: 1.4rem;
                margin-top: 4px;
                line-height: 1.57;

                @include mq(md) {
                    font-size: 1.2rem;
                    margin-top: 7px;
                }
            }
        }
    }
    &-item:last-of-type{
        margin-right: 0;
    }
}

//--------------------------------------
// contact
//--------------------------------------
.contact {
    margin-top: 119px;
    // margin-bottom: 119px;
    position: relative;
    @include mq(md){
        margin-top: 66px;
    }
    &::before {
        position: absolute;
        content: "";
        background-image: url("../img/contact-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 340px;
        z-index: -100;

        @include mq(md) {
            height: 100%;
            min-height: 627px;
        }
    }

    .contents-inner {
        max-width: 888px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 340px;
        color: #fff;

        @include mq(md) {
            flex-direction: column;
            padding: 51px 0;
        }
    }

    .section-ttl {
        font-size: 3.2rem;
        letter-spacing: 0.0em;
        line-height: 1.25;
        width: 32.53%;
        position: relative;
        height: 120px;

        @include mq(md) {
            width: 100%;
            font-size: 2.8rem;
            text-align: center;
            margin-bottom: 66px;
            line-height: 1.42;
        }

        &::after {
            content: '';
            position: absolute;
            top: -18%;
            bottom: -18%;
            width: 1px;
            background-color: #fff;

            @include mq(md) {
                content: "";
                position: absolute;
                left: 10%;
                bottom: -34px;
                width: 80%;
                height: 1px;
                top: auto;
            }
        }

        &::after {
            right: 0;
        }

        span {
            // padding-left: 15px;
            margin-bottom: 19px;

            @include mq(md) {
                width: fit-content;
                margin: 0 auto 17px;
            }
        }

        span::before {
            background-color: #fff;
        }
    }

    .contact-mail {
        position: relative;
        width: 33.33%;
        text-align: center;
        height: 120px;

        @include mq(md) {
            width: 100%;
            margin-bottom: 66px;
        }

        &::after {
            content: '';
            position: absolute;
            top: -18%;
            bottom: -18%;
            width: 1px;
            background-color: #fff;

            @include mq(md) {
                content: "";
                position: absolute;
                left: 10%;
                bottom: -39px;
                width: 80%;
                height: 1px;
                top: auto;
            }
        }

        &::after {
            right: -1px;
            @include mq(md){
                right: 0;
            }
        }

        &__icon {
            display: block;
            margin: 0 auto;
        }

        &__txt {
            font-size: 2.2rem;
            font-weight: 500;
            margin-top: 15px;

            @include mq(md) {
                font-size: 2.2rem;
            }
        }

        .btn-wrap {
            width: fit-content;
            margin: 17px auto 0;
            @include mq(md){
                margin-top: 17px;
            }
        }

        .contact-btn__link {
            width: 165px;
            font-size: 1.4rem;
            font-weight: 600;
            padding: 9px 0;
            transition: 0.3s all ease-in;

            &:hover {
                color: $black;
                background: #fff;
                opacity: 1;

            }

        }

    }

    .contact-phone {
        width: 33.33%;
        position: relative;
        height: 130px;

        @include mq(md) {
            width: 100%;
            margin-top: 5px;
        }

        &::after {
            content: '';
            position: absolute;
            top: -13%;
            bottom: -13%;
            width: 1px;
            background-color: #fff;

            @include mq(md) {
                left: 10%;
                bottom: -35px;
                width: 80%;
                height: 1px;
                top: auto;
            }
        }

        &::after {
            right: -1px;
            @include mq(md){
                right: 0;
            }
        }

        &__icon {
            display: block;
            margin: 0 auto 13px;
        }

        &__txt {
            font-family: $font-family-Open-sans;
            font-size: 2.8rem;
            font-weight: 600;
            text-align: center;
            letter-spacing: 0.04em;

            @include mq(md) {
                font-size: 2.8rem;
            }
        }

        &__sub {
            font-size: 1.4rem;
            font-weight: 500;
            width: fit-content;
            margin: 10px auto 0;
        }
    }
}


//--------------------------------------
// news
//--------------------------------------
.news {
    margin-top: 119px;

    @include mq(md) {
        margin-top: 340px;
        padding: 0 20px;
    }

    .contents-inner {
        display: flex;
        justify-content: space-between;
        width: 1140px;
        margin: 0 auto;

        @include mq(md) {
            flex-direction: column;
            width: 100%;
        }
    }

    &-left {
        margin-top: 8px;

        @include mq(md) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 11px;
        }

        .section-ttl {
            span {
                color: $secondary;
                margin-bottom: 16px;
            }
        }

        .btn-wrap {
            margin-top: 68px;

            @include mq(md) {
                margin-top: 15px;
            }

            .contact-btn__link {
                background: #fff;
                border: 1px solid $primary;
                font-size: 1.5rem;
                position: relative;
                transition: 0.3s all ease-in;

                @include mq(md) {
                    font-size: 1.3rem;
                    width: 136px;
                }

                &::before {
                    position: absolute;
                    content: "";
                    background-image: url("../img/arrow-right.svg");
                    background-repeat: no-repeat;
                    top: 50%;
                    right: 15px;
                    -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
                    width: 11px;
                    height: 6px;
                    @include mq(md){
                        right: 9px;
                    }
                }

                &:hover {
                    background: $primary;
                    color: #fff;

                    &::before {
                        filter: invert(1) brightness(6); // フィルタを使用して色を変更
                    }
                }

            }
        }

    }

    &-right {
        width: calc(100% - 316px);

        @include mq(md) {
            width: 100%;
            margin-top: 32px;
        }
    }

}


//--------------------------------------
// company
//--------------------------------------
.company {
    background-image: url("../img/company-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 120px;

    @include mq(md) {
        padding: 0 20px;
        margin-top: 60px;
    }

    .contents-inner {
        display: flex;
        justify-content: space-between;
        max-width: 1140px;
        width: 100%;
        margin: 0 auto;
        padding: 80px 0px;

        @include mq(md) {
            flex-direction: column;
            padding: 51px 0 51px;
        }
    }

    &-left {
        width: calc(100% - 612px);

        @include mq(md) {
            width: 100%;
        }

        .section-ttl {
            // @include mq(md){
            //     margin-top: 30px;
            // }
            span {
                color: $secondary;
                margin-bottom: 15px;
            }

            span::before {
                background-color: $primary;
            }
        }

        table {
            margin-top: 53px;
            font-size: 1.6rem;
            background: #fff;

            @include mq(md) {
                font-size: 1.4rem;
                margin-top: 26px;
                width: 100%;
            }

            tr {
                width: 366px;
                border-bottom: 1px solid $border-list;
            }

            th {
                width: 161px;
                font-weight: bold;
                padding: 12px 0px 12px 22px;
                text-align: left;
                vertical-align: middle;
                line-height: 1.55;
                @include mq(md){
                    width: 120px;
                    padding: 10px;
                }
            }

            td {
                padding: 12px 22px;
                border-left: 1px solid $border-list;
                line-height: 1.38;
                @include mq(md){
                    padding: 10px;
                }
            }


        }
    }

    &-right {
        width: calc(100% - 584px);

        @include mq(md) {
            width: 100%;
            margin-top: 24px;
        }

    }

    // .map-wrap{
    //     iframe{
    //         aspect-ratio: 16 / 9;
    //         max-width: 556px;
    //         width: 100%;
    //         height: auto;
    //     }
    // }
    .map-wrap {
        width: 100%;
        max-width: 556px;
        position: relative;
        padding-bottom: 85.97%;
        /* (478 / 556) * 100% = 85.97% */
        overflow: hidden;
        @include mq(md){
            max-width: none;
        }
    }

    .map-wrap iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}